.vscode/

Modeling/
log

*.bin
*.elf
*.hex
*.o
*.a
*.out

program
test
main
camera
camDisp
circlefind

*.bmp


FeatherM0/prog.list
FeatherM0/main.d

FeatherM0/FrameManifest.txt

ExpressionCtl_FeatherM0/prog.list
